// --------------------------------elemets--------------------------------

/* logo */
.logo-wrapper {
    max-width: 200px;  
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-color {
}
.logo-text {
}
