// --------------------------------elemets--------------------------------

/* logo */
.logo-wrapper {}

.logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-img {
    max-width: 80px;
    max-height: 80px;
    object-fit: fill;
    margin-right: 20px;

    @media screen and (max-width: 736px) {
        max-width: 50px;
        max-height: 50px;
        margin-right: 0;
        margin-bottom: 5px;
    }
}

.logo-text {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;

    @media screen and (max-width: 736px) {
       font-size: 16px;
    }
}