// widgets wrappers =======================================================================

.widget {
    width: 100%;
    // margin-bottom: 46px;

    &_categories {}

    &_tag {}

    &_search {
        margin-bottom: 30px;
    }

    &_menu {}

    &_subscribe {
        margin-bottom: 0;
    }
}

// widget title==========================================================================

.widgettitle {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    //letter-spacing: 0.05em;   
    width: calc(100% - 5px);
    border-bottom: 1px solid #cacaca;
    color: #cacaca;
    padding-bottom: 9px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

// widget subscribe =============================================================================

.subscribe {
    font-family: Roboto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    &__content {
        width: 100%;
    }

    &__fild {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 16px;

        &-line {
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }
    }

    &__label {
        opacity: 0.87;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #cacaca;
        margin-bottom: 15px;
    }

    &__text {
        padding: 16px;
        width: 100%;
        background-color: #ffffff12;
        border: 1px solid #00000012;
        border-radius: 4px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.05em;
         color: #cacaca;

        &::placeholder {
            opacity: 0.38;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.05em;
             color: #cacaca;
        }
    }

    &__button {
        display: block;
        width: 100%;
        padding: 16px;
        background-color: #3f51b5;
        border-radius: 4px;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.05em;
         color: #cacaca;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__line {
        display: block;
        width: 40%;
        height: 1px;
        opacity: 0.54;
        background-color: #cacaca;

        &-text {
            display: block;
            opacity: 0.87;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            //letter-spacing: 0.05em;
             color: #cacaca;
        }
    }
}




// widget menu====================================================================================

.menu-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 5px;
        background-color: rgb(70, 68, 151);

        &:nth-child(1) {
            background-color: #3b5999;
        }

        &:nth-child(2) {
            background-color: #55acee;
        }

        &:nth-child(3) {
            background-color: #4c75a3;
        }

        &:nth-child(4) {
            background-color: #ff2e56;
        }

        &:nth-child(5) {
            background-color: #34465d;
        }

        &:nth-child(6) {
            background-color: #ea4c89;
        }


        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;

            i {
                font-size: 18px;
                font-weight: 400;
                 color: #ffffff;
            }
        }
    }
}